[submodule "craftos3-lua"]
    path = Packages/Lua
    url = https://github.com/MCJack123/craftos3-lua

[submodule "SDL3-Swift"]
    path = Packages/SDL3
    url = https://github.com/MCJack123/SDL3-Swift
